.RequestForm_Wrapper {}

.inputWrapper {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    justify-content: center;
    width: 400px;

    textarea {
        width: inherit;
    }

    input {
        width: inherit;

    }
}


